body {
    overflow-x: hidden;
}

#b-banner-section {
    margin-top: 10vh;
    height: 100vh;
    background-image: url(../images/benefitsBG.jpg);
    background-size: cover;
}

#b-banner-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
}

#b-banner-section-title-con {
    border: 10px solid white;
    height: 50vh;
    color: white;
    padding-top: 10vh;
    z-index: 1;
}

#b-banner-section-title-con>h1 {
    font-size: 3rem;
}

#b-second-section-bodyText {
    width: 80%;
}

#b-second-sec-text-con {
    padding-left: 8vw;
    padding-top: 3vh;
}

#b-second-sec-img-con {
    height: 40vh;
    width: 70%;
    background-image: url(../images/wmExercising.png);
    background-size: cover;
}

#b-second-section {
    padding-top: 4vh;
}

.benefit-cards {
    background-color: white;
    height: 35vh;
    box-shadow: 0px 2px 10px rgb(160, 159, 159);
    padding-top: 3vh;
    padding-left: 2vw;
    margin-top: 7vh;
}

.benefit-cards>h1 {
    padding-left: 3vw;
}

@media (max-width: 991px) {
    #b-second-section {
        height: 90vh;
    }

    #b-second-sec-img-con {
        width: 90%;
        /* margin-bottom: 10vh; */
        background-position: center;
    }

    #b-second-sec-text-con {
        height: 25vh;
    }

    .benefit-cards {
        height: 33vh;
    }

    #b-second-sec-text-con {
        margin-bottom: 20vh;
    }
}