.terminal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.terminal.fade-out {
    opacity: 0;
    pointer-events: none;
}
 
.line {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    animation: typing 2s steps(30, end), blink 0.7s step-end infinite;
}
 
.loading {
    display: inline-block;
    animation: dots 1.5s steps(4, end) infinite;
}
 
@keyframes typing {
    from {
        width: 0
    }
 
    to {
        width: 100%
    }
}
 
@keyframes blink {
    50% {
        border-color: transparent
    }
}
 
@keyframes dots {
    0% {
        content: "";
    }
 
    25% {
        content: ".";
    }
 
    50% {
        content: "..";
    }
 
    75% {
        content: "...";
    }
}
 
.boot-line {
    opacity: 0;
    animation: showLine 0.5s forwards;
}
 
    @keyframes showLine {
        to {
        opacity: 1;
    }
}